/* S (600px and down) */
@media only screen and (max-width: 600px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-s);
    width: 100%;
    max-width: var(--size-max-width);
    padding: var(--size-padding-lateral);
  }
}

/* M (600px - 1024px) */
@media only screen and (min-width: 600px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-s);
    width: 100%;
    max-width: var(--size-max-width);
    padding: var(--size-padding-lateral);
  }
}

/* L (1025px and up) */
@media only screen and (min-width: 1025px) {
  .gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-s);
    width: 100%;
    max-width: var(--size-max-width);
    padding: var(--size-padding-lateral);
  }
}
