.imageContainer {
	position: relative;
	display: flex;
	align-items: flex-end;
	flex: 1 0 0;
	align-self: stretch;
}

.image {
	width: 100%;
	height: 100%;
	aspect-ratio: 9 / 16;
	object-fit: cover;
	border-radius: var(--corner-radius);
	background: var(--neutral-150);
}